* {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    
}
body{
   
}

.container-box{
    width: 1024px;
    height: 768px;
    margin:auto;
    /* background-color: aquamarine; */
}

.header{
    width: 1024px;    
    height: 65px;
    /* background-color: thistle; */
    margin:auto;
    border: 1px solid black;
    border-bottom: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    margin:auto;
}

.aside{
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: red; */
    border: 1px solid black;
    border-right:0;
    display: flex;
    flex-direction: column;

    
}

.aside-header{
    /* width: 215px; */
    height: calc(100% - 25px);
    /* background-color: blueviolet; */
}

.aside-footer{
    height: 25px;
    /* background-color: lightblue; */
}


.main{
    width: calc(1024px - 215px);
    /* height: calc(768px - 65px - 20px); */
    /* background-color: green; */
    border: 1px solid black;
}

.main-header{
    /* width: 215px; */
    height: 29px;
    /* background-color: lightcyan; */
}

.main-footer{
    height: calc(100% - 29px);
    /* background-color: lightpink; */
}


.footer{
    border-top:0;
    width: 1024px;
    height: 20px;
    /* background-color: blue; */
    margin:auto;
    border: 1px solid black;

}